.divGlobale {
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
  height: 990px;
  margin-top: 20px;
}

.divReverse {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: -1;
  border-radius: 15px;
  height: 990px;
  max-height: 680px;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-size: contain;
  z-index: -1;
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}

.Users {
  position: relative;
  font-size: 20px;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  background-color: #F1F1F1;
  margin-bottom: 30px;
  max-width: 100px;
}

.divUser {
  margin-left: auto;
  background-color: #DCF8C6;
}

strong {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: 10px;
  background: #f0f0f0;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 10px;
  border: none;
  outline: none;
}

.btnMessage {
  border: none;
  outline: none;
}

.TempsRight {
  color: #A3A7A0;
  font-size: 11px;
}

.TempsLeft {
  color: #A3A7A0;
  font-size: 11px;
}

.field{
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  padding: 10px;
}
.field__input{
  font-family: sans-serif,'Courier New', Courier, monospace;
  font-size: 1rem;
  color: #c9d1d9;
  background: #313842;
  border: 2px solid #30363d;
  border-radius: 0.375rem;
  outline: none;
  padding: 1rem 1rem;
  margin: 10px;
  height: 5px;
  transition: border-color 0.2s, box-shadow 0.2s;
}